*.fits
*.pyc
__pycache__
.ipynb_checkpoints/*
.git.bfg-report/*
plots/*
!plots/model10v2_run1_cm.png
!plots/architecture-model10v2.svg
!plots/star_population.png
data/*
!data/all_spectra_urls.txt
*.log
targets.txt
pathfile.txt
